body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
}

.login-image {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
}

.login-container .h2 {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #2c4c7f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #243f52;
}

button.hover-red {
    background-color: #f44336;
    cursor: not-allowed;
}

.login-button{
    font-weight: bold;
}

.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #4f77bc;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .login-container {
        width: 70%;
    }
    .login-image {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .login-container {
        width: 80%;
    }
    .login-image {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 70%;
    }
    .login-image {
        max-width: 200px;
    }
    input {
        padding: 5px;
    }
    button {
        padding: 5px 10px;
    }
}

@media (max-width: 320px) {
    .login-container {
        width: 80%;
    }
    .login-image {
        max-width: 150px;
    }
    input {
        padding: 3px;
    }
    button {
        padding: 3px 5px;
}
}